 .ant-modal-close-x {
     color: #FF8900;
     font-size: 24px !important;
     background-color: none !important;

     &:hover {
         color: #FF8900;
         background-color: none !important;
     }
 }