@use '/src/theme/colors' as colors;

.tableOddRow {
  background-color: colors.$color-neutral-100;
}

.tableEvenRow {
  background-color: colors.$color-white;
}

.tableEvenRowWithPointerCursor {
  background-color: colors.$color-white;
  cursor: pointer;
}

.tableOddRowWithPointerCursor {
  background-color: colors.$color-neutral-100;
  cursor: pointer;
}