@use '/src/theme/colors' as colors;

.quill {
    border: 1px solid colors.$color-neutral-400 !important;
    border-radius: 13px !important;
}

.ql-toolbar.ql-snow {
    background-color: colors.$color-neutral-200 !important;
    min-height: 67px !important;
    border: none !important;
    border-radius: 13px 13px 0 0 !important;
    display: flex !important;
    align-items: center !important;
}

.ql-container.ql-snow {
    border: none !important;
    border-radius: 0 0 13px 13px !important;
    min-height: 240px !important;
}