/** 
*
* Color Palette
*
*/

$color-black: #000000;
$color-white: #ffffff;

// neutral colors
$color-neutral-700: #1f1f1f;
$color-neutral-600: #4b4b4b;
$color-neutral-500: #8e8e8e;
$color-neutral-400: #cacaca;
$color-neutral-300: #e1e1e1;
$color-neutral-200: #eeeeee;
$color-neutral-100: #f5f5f5;
$color-neutral-50: #fafafa;

// primary colors
$color-primary-700: #cc6e00;
$color-primary-600: #ff8900;
$color-primary-500: #ffa133;
$color-primary-400: #ffb866;
$color-primary-300: #ffd099;
$color-primary-200: #ffdbb2;
$color-primary-100: #fff3e5;
$color-primary-50: #fff9f2;

// secondary colors
$color-secondary-700: #182630;
$color-secondary-600: #223645;
$color-secondary-500: #384a57;
$color-secondary-400: #4e5e6a;
$color-secondary-300: #7a868f;
$color-secondary-200: #a7afb5;
$color-secondary-100: #e8ebec;
$color-secondary-50: #f4f5f6;

// danger colors
$color-danger-700: #ff1e1e;
$color-danger-600: #f64c4c;
$color-danger-500: #eb6f70;
$color-danger-400: #f49898;
$color-danger-300: #ffccd2;
$color-danger-200: #ffebee;
$color-danger-100: #fef2f2;
$color-danger-50: #fffbfb;

// warning colors
$color-warning-700: #fe9b0e;
$color-warning-600: #ffad0d;
$color-warning-500: #ffc62b;
$color-warning-400: #ffdd82;
$color-warning-300: #ffeab3;
$color-warning-200: #fff7e1;
$color-warning-100: #fff9ee;
$color-warning-50: #fffdfa;

// success colors
$color-success-700: #3eae2c;
$color-success-600: #47b881;
$color-success-500: #6bc497;
$color-success-400: #97d4b4;
$color-success-300: #c0e5d1;
$color-success-200: #e5f5ec;
$color-success-100: #f2faf6;
$color-success-50: #fbfefc;

// upcoming colors
$color-upcoming-600: #5295e2;
$color-upcoming-200: #e5eaf5;
